# DATA Types/ Structures
  *Numbers
  *String
  *List
  *Tuple
  *Set
  *Dictionary
  
  
  NUMBERS
  
  Integers (int)

In [9]:
# Variable and data assignments
# b = variable
# 45 = data

b = 45

In [10]:
print(b)

45

In [11]:
type(b)

int

In [12]:
# You can assign, print and check data type in the same cell.
a = 30.5
print (a)
type (a)

30.5

float

In [13]:
a=30
b=25.5
c=a+b
print(c)
type(c)

55.5

float

In [14]:
print(a*8)

240

In [15]:
# Complex data in Python doesnt get executed.

c=2+3d
Type(c)

SyntaxError: invalid syntax (Temp/ipykernel_4276/1413669092.py, line 1)

In [16]:
print('Hello World')

Hello World

In [18]:
first_string = 'Python'
second_string = 'is a Powerful'
third_string = 'Language'

In [19]:
print (first_string)

Python

In [20]:
print (first_string, second_string , third_string)

Python is a Powerful Language

In [21]:
print ('Wow ' + 'Python ' + 'is Easy')

Wow Python is Easy

In [22]:
print ('Day ' *5)

Day Day Day Day Day

In [23]:
print ('Day'+ 2)

TypeError: can only concatenate str (not "int") to str

In [24]:
print (int('Day') + 2)

ValueError: invalid literal for int() with base 10: 'Day'

In [25]:
print ('Day ' + str(2))

Day 2

In [26]:
print ('Day 2')

Day 2

Note: # You can convert number into string datatype but not viceversa

# Python holds DATA in different Structures. 
Few of the structures are 
1.List, 2.Tuple, 3.Set, 4.Dictionary

In [27]:
l = []
l

[]

In [28]:
l = ['p', 'q', 'r']
l

['p', 'q', 'r']

In [29]:
l = ['p', 10, 7.5]
l

['p', 10, 7.5]

In [30]:
#How to copy into other list
l2 = list(l)
l2

['p', 10, 7.5]

In [31]:
marks = [35,40,75,80,95]
marks

[35, 40, 75, 80, 95]

# If we have to share the data with someone we need to send them the copy data rather then sending them the master sheet
copy_marks = marks.copy()-This is the methode

In [32]:
copy_marks = marks.copy()

In [33]:
copy_marks

[35, 40, 75, 80, 95]

# A python string is also a sequence of characters and can be treated as an iterable over those characters. Combined with the list()function, a new list of the character can easily be generated.

In [34]:
list('MONALISA')

['M', 'O', 'N', 'A', 'L', 'I', 'S', 'A']

In [35]:
list(567895)

TypeError: 'int' object is not iterable

# Append: Adding. You can append to a list very easily(add to the end)or insert at an arbitrary index.

# Auto dropdown 
# !pip3 install jedi==0.17.2 or Type datatype like {employee.then press tab} you will get the dropdown

In [37]:
employee = [Mona, Sona, Sri, Tanuj, Om]
employee

NameError: name 'Mona' is not defined

In [44]:
employee = ['Mona', 'Sona', 'Sri', 'Tanuj', 'Om']
employee

['Mona', 'Sona', 'Sri', 'Tanuj', 'Om']

In [45]:
employee.append('Sai')
print (employee)

['Mona', 'Sona', 'Sri', 'Tanuj', 'Om', 'Sai']

In [40]:
employee.append('Krishna ', 'Radha')
print (employee)

TypeError: list.append() takes exactly one argument (2 given)

# Note:  In List.append only 1 argument can be given one time and the content always gets add at the end.

In [41]:
employee.append('Krishna')
employee.append('Radha')
print (employee)

['Mona', 'Sona', 'Sri', 'Tanuj', 'Om', 'Sai', 'Krishna', 'Radha']

# INDEX and INSERT: Two arguments can be placed in insert method.

# Syntax: insert(index,object)

This method places the object at the index supplied. For example:

In [46]:
#Use double inverted quotation if your string has quotation
employee.insert(3, "Swaroop")
employee

['Mona', 'Sona', 'Sri', 'Swaroop', 'Tanuj', 'Om', 'Sai']

In [47]:
employee[2] = 'Lata'
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']

In [48]:
len(employee)

7

In [62]:
# One more example with numbers
emp_salary = [20000, 25000, 70000, 60000]

In [50]:
emp_salary.insert(3,15000)
emp_salary

[20000, 25000, 70000, 15000, 60000]

In [51]:
emp_salary

[20000, 25000, 70000, 15000, 60000]

In [52]:
emp_salary.insert(1,40000)
emp_salary

[20000, 40000, 25000, 70000, 15000, 60000]

In [53]:
len(emp_salary)

6

In [54]:
emp_salary.insert(4,55000)
emp_salary

[20000, 40000, 25000, 70000, 55000, 15000, 60000]

In [55]:
len(emp_salary)

7

In [56]:
emp_salary

[20000, 40000, 25000, 70000, 55000, 15000, 60000]

In [57]:
emp_salary [2]=35000
emp_salary

[20000, 40000, 35000, 70000, 55000, 15000, 60000]

# Indexing and Slicing

Indexing and slicing of lists works just like in Strings. Lets fetch the element based on index. This is called Slicing.

In [58]:
employee = ['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai', 'Krishna', 'Radha']
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai', 'Krishna', 'Radha']

In [59]:
#Grab element based on index

employee[6]

'Sai'

In [60]:
# If you want to change the name in the list below is the process.

employee[3] = 'Behera'
employee

['Mona', 'Sona', 'Lata', 'Behera', 'Tanuj', 'Om', 'Sai', 'Krishna', 'Radha']

In [63]:
emp_salary = [20000, 25000, 30000, 35000, 70000, 60000]
emp_salary

[20000, 25000, 30000, 35000, 70000, 60000]

In [64]:
# Update the data based on index
emp_salary[3] = 40000
emp_salary

[20000, 25000, 30000, 40000, 70000, 60000]

In [66]:
# Grab index 1 and everything past it
emp_salary[1:]

[25000, 30000, 40000, 70000, 60000]

In [70]:
# Grab everything UP TO index 4. Note:Starting index is always included and ending index is excluded.
emp_salary[:5]

[20000, 25000, 30000, 40000, 70000]

In [71]:
emp_salary[0:4]

[20000, 25000, 30000, 40000]

In [72]:
emp_salary[1:5]

[25000, 30000, 40000, 70000]

# We can also use "+" to concatenate lists, just like we did for strings.

In [73]:
emp_salary = [20000, 25000, 30000, 35000, 70000, 60000]
emp_salary

[20000, 25000, 30000, 35000, 70000, 60000]

In [75]:
emp_salary + [40000]

[20000, 25000, 30000, 35000, 70000, 60000, 40000]

In [76]:
emp_salary

[20000, 25000, 30000, 35000, 70000, 60000]

# Note:Adding any changes to the list this doesn't actually change the original list.

# In this case you have to reassign the list to make the permanent change.

In [77]:
# Reassign to keep the data permanently
emp_salary = emp_salary + [40000]
emp_salary

[20000, 25000, 30000, 35000, 70000, 60000, 40000]

In [78]:
# Make the list double
emp_salary * 2

[20000,
 25000,
 30000,
 35000,
 70000,
 60000,
 40000,
 20000,
 25000,
 30000,
 35000,
 70000,
 60000,
 40000]

# Note: Again doubling is not permanent

In [79]:
print ('*'*50)
print ('                     Swaroop                        ')
print ('*'*50)

**************************************************
                     Swaroop
**************************************************

# Advanced Lists

These are just methods that should encountered without some additional exploring. 

# COUNT

In [82]:
marks = [ 30,80,99,58,69,70,77,90,99,100,67,77,99]
marks

[30, 80, 99, 58, 69, 70, 77, 90, 99, 100, 67, 77, 99]

In [86]:
marks.count(99)

3

# Questions like how do we find index position of a particular element or value.

# INDEX :Index returns the element placed as an argument. Make a note that if the element is not in the list then it returns an error.

In [87]:
marks

[30, 80, 99, 58, 69, 70, 77, 90, 99, 100, 67, 77, 99]

In [88]:
marks.index(99)

2

# Note: If the number is repeatedly their in the list then only the first index position of the given number is shown.

In [89]:
marks.index(90)

7

Extend

Many times people find the difference between extend and append to be UNCLEAR. In case of Append the object get add at end.

In [95]:
employee = ['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj']
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj']

In [96]:
employee.append(['Om','Sai'])
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', ['Om', 'Sai']]

# In this case the square bracket is again appearing inside the list so you can go for EXTEND where the bracket is not included

In [98]:
employee = ['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj']
employee.extend(['Om', 'Sai'])
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']

# Similarly you can add integer data as well. Concept is same for any type data.

# POP: Pop is an function which allows us to "POP" off the last element of a list.

In [99]:
Employee = ['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']
Employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']

In [100]:
# Deletes the last element by default
pop_last = employee.pop()
pop_last

'Sai'

In [101]:
# Verify if its removed
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om']

In [102]:
Employee = ['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']
Employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']

In [103]:
# Deletes based on index position
pop_index=employee.pop(2)
pop_index

'Lata'

In [106]:
employee = ['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Om', 'Sai']
pop_index= employee.pop(5)
pop_index

'Om'

In [107]:
# Verify if its removed
employee

['Mona', 'Sona', 'Lata', 'Swaroop', 'Tanuj', 'Sai']

# Remove: The remove() method removes the first occurrence of a value.

In [108]:
emp_id =[20, 21, 22, 23, 24, 21, 25, 26]

In [109]:
# Delete data (if there are duplicates, first element is deleted)
emp_id.remove(21)
emp_id

[20, 22, 23, 24, 21, 25, 26]

# Reverse: As the name suggests, reverse() helps you to reverse a list. Note this occurs in place! Meaning it effects your list permanently.

In [110]:
lst = [1,2,3,4,5,6]
lst.reverse()
lst

[6, 5, 4, 3, 2, 1]

# Sort : Sort will sort your list in place
# Sort is applicable in alphabetical order and also in numerics.

In [111]:
emp_name = ['Swaroop','Raj','Om','Tanuj','Mona','Rishi','Fathima']
emp_name

['Swaroop', 'Raj', 'Om', 'Tanuj', 'Mona', 'Rishi', 'Fathima']

In [119]:
# Sort in the ascending order is by default
emp_name.sort()
emp_name

['Fathima', 'Mona', 'Om', 'Raj', 'Rishi', 'Swaroop', 'Tanuj']

In [120]:
# Sort in the decending order need to write (.sort(reverse=True))
emp_name = ['Swaroop','Raj','Om','Tanuj','Mona','Rishi','Fathima']
emp_name.sort(reverse=True)
emp_name

['Tanuj', 'Swaroop', 'Rishi', 'Raj', 'Om', 'Mona', 'Fathima']

In [124]:
student_roll=[7,2,3,1,5,6,4]
student_roll.sort(reverse=True)
student_roll

[7, 6, 5, 4, 3, 2, 1]