# Sets: A Set is basically a data structure consisting of unordered collection of unique elements which can be constructed using the set() function. Elements in sets are not indexed, so you cannot operate indexing operation such as slicing on it.

# When to use sets in Python: Sets can be used in python when the order of data does not matter but your data elements need to be unique.

# How to create a Set:
 # 1. By using curly brackets or 2. By using set constructer

In [1]:
Roll_numbers_1A = {1,2,3,4,4,5,6,7,8,9,3,7,8,9}
Roll_numbers_1A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [2]:
Roll_numbers_1B = set([1,2,3,5,6,7,9,4,2,10,2,8,6])
Roll_numbers_1B

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [4]:
# How to construct an empty set

c= set()
print (c)

set()

In [5]:
# Methods which can be used in Sets can be found as directed below

dir(c)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [6]:
Roll_numbers_1A = {1,2,3,4,4,5,6,7,8,9,3,7,8,9}
Roll_numbers_1A

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [7]:
len(Roll_numbers_1A)

9

# Adding Element to a Set- Elements can be added to a set using these two functions-
# Add() : This function allows you to add a single element to your set
# Update() : Used when you want to add more than one element to your set.

In [1]:
Student_Names = {'Ritu', 'Riya','Rohan', 'Mona'}
Student_Names

{'Mona', 'Ritu', 'Riya', 'Rohan'}

In [2]:
Student_Names.add('Tanuj')
Student_Names

{'Mona', 'Ritu', 'Riya', 'Rohan', 'Tanuj'}

In [3]:
Student_Names.update(['Sona','Siya','Viral'])
Student_Names

{'Mona', 'Ritu', 'Riya', 'Rohan', 'Siya', 'Sona', 'Tanuj', 'Viral'}

# Removing Elements from a Set-
# Remove() : Removes an element from the set specified as parameter.
# Discard() : Used when you want to remove an element when you are not sure if its actually present in the set or not.
# Pop() : Used when you want to remove a random element from the set.

In [4]:
Student_Names

{'Mona', 'Ritu', 'Riya', 'Rohan', 'Siya', 'Sona', 'Tanuj', 'Viral'}

In [5]:
Student_Names.remove('Rohan')
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya', 'Sona', 'Tanuj', 'Viral'}

# Note: In remove method if the element which is not present the set is removed then it shows error.However in discard method if the element is not present still it doesnt show any error.

In [6]:
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya', 'Sona', 'Tanuj', 'Viral'}

In [8]:
# Though the item is not present in the set it didnot throw any error.
Student_Names.discard('Sara')
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya', 'Tanuj', 'Viral'}

In [9]:
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya', 'Tanuj', 'Viral'}

In [11]:
Student_Names.pop()
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya', 'Tanuj'}

In [12]:
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya', 'Tanuj'}

In [13]:
Student_Names.pop()
Student_Names

{'Mona', 'Ritu', 'Riya', 'Siya'}

# Lets see how to remove duplicates from the list and convert the result to a set again

In [14]:
Remove_dups = [1,2,4,5,3,2,6,7,8,4,5]
Remove_dups

[1, 2, 4, 5, 3, 2, 6, 7, 8, 4, 5]

In [16]:
Removed_dups=set(Remove_dups)
Removed_dups

{1, 2, 3, 4, 5, 6, 7, 8}

In [17]:
Removed_dups = list(Removed_dups)
Removed_dups

[1, 2, 3, 4, 5, 6, 7, 8]