# What is a Tuple?

A tuple is an immutable data type in python, almost similar to a list in python in terms of indexing and having duplicate members. It is a collection data type that stores python objects separated by commas.

In [1]:
# Creating a tuple 

a = ("Bangalore", "Chennai", "Delhi","Pune")
print(a)

('Bangalore', 'Chennai', 'Delhi', 'Pune')

In [2]:
a = "Bangalore", "Chennai", "Delhi","Pune"
print(a)

('Bangalore', 'Chennai', 'Delhi', 'Pune')

In [3]:
b = (1,2,3,4,5)
print (b)

(1, 2, 3, 4, 5)

# Note: A tuple can be in both way either putting the elements in paranthesis separated by comas or by just putting comas. Both are shown above.

# Accessing Elements in a Tuple

Indexing: It is a data structure technique to effectively retrieve information from a data structure. In python, several data types support indexing

Slicing: It is a technique in which we use the slicing operator ':' to get a range of elements from a tuple or any other data type that supports indexing for accessing elements

In [1]:
a = ("Bangalore", "Chennai", "Delhi","Pune")
print (a)

('Bangalore', 'Chennai', 'Delhi', 'Pune')

In [3]:
# Note: When you talk about indexing count from left to right is 0,1,2,....(positive indexing). 
# Indexing count from right to left is -1, -2,-3......(negative indexing)

a [2]

'Delhi'

In [4]:
a [-3]

'Chennai'

In [5]:
b = (1,2,3,4,5,6,7)
b

(1, 2, 3, 4, 5, 6, 7)

In [6]:
b [1:]

(2, 3, 4, 5, 6, 7)

In [7]:
b [2:-1]

(3, 4, 5, 6)

In [8]:
b [:6]

(1, 2, 3, 4, 5, 6)

In [9]:
b [-7:]

(1, 2, 3, 4, 5, 6, 7)

In [12]:
b [:-5]

(1, 2)

# Changing a Tuple: Even though tuple is immutable in nature we can make changes in it by converting it into list and make possible changes and again change it back to a tuple.

In [14]:
Days = ('Monday', 'Tuesday', 'Wednesday', 'Thursday')
Days

('Monday', 'Tuesday', 'Wednesday', 'Thursday')

In [15]:
# Change the data.
Days.append('Friday')
Days

AttributeError: 'tuple' object has no attribute 'append'

# The above action was not possible because tuple doesnt support any changes. Here we need to convert tuple as list and do necessary changes.

In [16]:
Days= list (Days)
Days

['Monday', 'Tuesday', 'Wednesday', 'Thursday']

In [17]:
Days.append('Friday')
Days

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

# Now after making necessary changes you can convert List data back to Tuple.

In [18]:
Days = tuple (Days)
Days

('Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday')

In [19]:
# Check the length just like a list
len(Days)

5

# Note: Even though tuple is immutable in nature the nested object in the tuple can be changed. For Ex.

In [22]:
a = (1,2,3,4,[5,6,7,8])
a

(1, 2, 3, 4, [5, 6, 7, 8])

In [23]:
a[4][2]=9
a

(1, 2, 3, 4, [5, 6, 9, 8])

# Concatenating two Tuples: It is joining two tuples.Here we need to add two tuples to another variable and it will return the concatenated tuple with the valuesof both the tuples

In [25]:
a = ('Pooja','Harry','Dany', 'Sonu')
a

('Pooja', 'Harry', 'Dany', 'Sonu')

In [26]:
b = (1,2,3,4)
b

(1, 2, 3, 4)

In [27]:
c = a + b
print (c)

('Pooja', 'Harry', 'Dany', 'Sonu', 1, 2, 3, 4)

# Note: Deleting a single element in a tuple is not possible but deleting the whole tuple is possible. There is a keyword 'del' which will delete the tuple altogether.

In [28]:
del(c)
c

NameError: name 'c' is not defined

# Basic Tuple Methods: 1.Count and 2. Index

# Count : Returns the count of the element
# Index : Returns the index number of the element.

In [29]:
numbers = (30, 45, 50, 60, 45, 70, 90)
numbers

(30, 45, 50, 60, 45, 70, 90)

In [30]:
# Use .index to enter a value and return the index

numbers.index(60)

3

In [31]:
numbers.index(45)

1

# Note: If their is repeated numbers in the data only first index position of the given number will be visible.

In [32]:
# Use .count to count the number of times a value appears

numbers.count(70)

1

In [33]:
numbers.count(45)

2